### Dico
- Access the value of key history

In [5]:
sample_dict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

In [6]:
def get_nested(d, keys, default=None):
    for k in keys:
        d = d.get(k, {})
    return d or default

In [9]:
history_value = get_nested(sample_dict, ["class", "student", "marks", "history"])
print(history_value)

80

### Sol1 : En compréhension de dictionnaire (reconstruction)

In [58]:
sample_dict = {
  "name": "Kelly",
  "age": 25,
  "salary": 8000,
  "city": "New york"
}

In [59]:
keys_to_remove = ["name", "salary"]
#reconstruire un notre dico sans les keys à enleve
new_dico = {k:v for k,v in sample_dict.items() if k not in keys_to_remove}

print(new_dico)

{'age': 25, 'city': 'New york'}

* On reconstruit un nouveau dictionnaire sans les clés à supprimer.
    - dict.items() retourne les paires clé/valeur.

    - Le if k not in keys_to_remove filtre les clés à garder.

    - C’est une approche fonctionnelle et propre, souvent préférée.

### Sol2

In [60]:
for key in keys_to_remove:
    del sample_dict[key]
print(sample_dict)

{'age': 25, 'city': 'New york'}

#### Rq: 
* Cette méthode lève une erreur KeyError si une des clés n’existe pas

### Sol3

In [62]:
sample_dict = {
  "name": "Kelly",
  "age": 25,
  "salary": 8000,
  "city": "New york"
}
keys_to_remove = ["name", "salary"]
for key in keys_to_remove:
    sample_dict.pop(key)

print(sample_dict)

{'age': 25, 'city': 'New york'}

### Loops and Dico

* Implement a loop that asks for user input to add dictionary entries until 'quit' is entered. Display the final dictionary.

In [63]:
#initialisation du dico (exterieur de la boucle
dico ={}
while True: #condition du while
    key = input("Enter key (or 'quit' to stop): ")
    if key.lower() =='quit':
        break
    value = input("Enter value: ")
    dico[key]=value


print(dico)

Enter key (or 'quit' to stop):  age
Enter value:  34
Enter key (or 'quit' to stop):  pays
Enter value:  France
Enter key (or 'quit' to stop):  present
Enter value:  True
Enter key (or 'quit' to stop):  quit

{'age': '34', 'pays': 'France', 'present': 'True'}

### Fonctions Exercices

* Write a function calculation() such that:
    * it can accept two variables and calculate the addition and subtraction of it.
    *  And also it must return both addition and subtraction in a single return call

In [24]:
def calculation(a,b):
    add = a+b
    prod = a*b
    return (add, prod)

addition, produit = calculation(a= 4, b=3)
print(addition)
print(produit)

7
12

### Lambda, Map, Reduce & Filter Functions


* Using map and filter, try to say hello to everyone who's name is less than or equal to 4 letters

In [32]:
people = ["Rick", "Morty", "Beth", "Jerry", "Snowball"]

short = filter(lambda s: len(s)<= 4, people)
# Étape 2 : dire bonjour à chacun
salutations= map(lambda s: f"Hello {s}!", short)

# Étape 3 : afficher le résultat
for cc in salutations:
    print(cc)

Hello Rick!
Hello Beth!

In [ ]:
people = ["Rick", "Morty", "Beth", "Jerry", "Snowball"]

# Étape 1 : filtrer les noms de 4 lettres ou moins
short_names = filter(lambda name: len(name) <= 4, people)

# Étape 2 : dire bonjour à chacun
greetings = map(lambda name: f"Hello {name}!", short_names)

# Étape 3 : afficher le résultat
for greet in greetings:
    print(greet)

### Exo XP

* Exercise 1: Converting Lists into Dictionaries

In [33]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dico={}
dico =dict(zip(keys, values))
print(dico)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

* Exo 2

* Write a program that calculates the total cost of movie tickets for a family based on their ages.
* Family members’ ages are stored in a dictionary.
* The ticket pricing rules are as follows:
 * Under 3 years old: Free
 * 3 to 12 years old: $10
 * Over 12 years old: $15

In [36]:
family = {"rick": 43, 'beth': 13, 'morty': 5, 'summer': 8}
total = 0
for membre, age in family.items():
    if age < 3:
        cost= 0
    elif (age>3 and age<12):
        cost=10
    else: 
        cost=15
    total +=cost
    print(f"{membre} pays: ${cost}")
    
print(f"Total cost for the movies: ${total}")
# for person, age in family.items():
#     if age < 3:
#         price = 0
#     elif 3 <= age <= 12:
#         price = 10
#     else:
#         price = 15
#     total_cost += price
#     print(f"{person} pays: ${price}")

# print(f"Total cost for the movies: ${total_cost}")

rick pays: $15
beth pays: $15
morty pays: $10
summer pays: $10
Total cost for the movies: $50

* Exercice 3
* Create and manipulate a dictionary that contains information about the Zara brand.
- name: Zara
- creation_date: 1975
- creator_name: Amancio Ortega Gaona
- type_of_clothes: men, women, children, home
- international_competitors: Gap, H&M, Benetton
- number_stores: 7000
- major_color: 
    - France: blue, 
    - Spain: red, 
    - US: pink, green

In [41]:
#Create a dictionary called brand with the provided data.
brand={
    'name': 'Zara',
    'creation_date': '1975',
    'creator_name': 'Amancio Ortega Gaona',
    'type_of_clothes':['men', 'women', 'children', 'home'],
    'international_competitors': ['Gap', 'H&M', 'Benetton'],
    'number_stores': 7000,
    'major_color':{
                'France': 'blue',
                'Spain': 'red',
                'US': ['pink', 'green']
                }
}

In [42]:
#Modify and access the dictionary as follows:
#Change the value of number_stores to 2.
brand['number_stores'] = 2
print(brand)

{'name': 'Zara', 'creation_date': '1975', 'creator_name': 'Amancio Ortega Gaona', 'type_of_clothes': ['men', 'women', 'children', 'home'], 'international_competitors': ['Gap', 'H&M', 'Benetton'], 'number_stores': 2, 'major_color': {'France': 'blue', 'Spain': 'red', 'US': ['pink', 'green']}}

In [43]:
#Print a sentence describing Zara’s clients using the type_of_clothes key.
print(f"Zara's clients are: {', '.join(brand['type_of_clothes'])}")

Zara's clients are: men, women, children, home

In [44]:
#Add a new key country_creation with the value Spain.
brand['country_creation'] = 'Spain'
print(brand)

{'name': 'Zara', 'creation_date': '1975', 'creator_name': 'Amancio Ortega Gaona', 'type_of_clothes': ['men', 'women', 'children', 'home'], 'international_competitors': ['Gap', 'H&M', 'Benetton'], 'number_stores': 2, 'major_color': {'France': 'blue', 'Spain': 'red', 'US': ['pink', 'green']}, 'country_creation': 'Spain'}

In [46]:
#Check if international_competitors exists and, if so, add “Desigual” to the list.
#brand["international_competitors"].append("Desigual")
if 'Desigual' not in brand['international_competitors']:
    brand['international_competitors'].append('Desigual')
print(brand)

{'name': 'Zara', 'creation_date': '1975', 'creator_name': 'Amancio Ortega Gaona', 'type_of_clothes': ['men', 'women', 'children', 'home'], 'international_competitors': ['Gap', 'H&M', 'Benetton', 'Desigual'], 'number_stores': 2, 'major_color': {'France': 'blue', 'Spain': 'red', 'US': ['pink', 'green']}, 'country_creation': 'Spain'}

In [47]:
#Delete the creation_date key.
del brand["creation_date"]

In [48]:
#Print the last item in international_competitors.
print(brand['international_competitors'][-1])

Desigual

In [49]:
#Print the major colors in the US.
print(f"Major clothes colors in the US: {', '.join(brand['major_color']['US'])}") #['key']['key']

Major clothes colors in the US: pink, green

In [50]:
#Print the number of keys in the dictionary.
print(f"Dictionary length: {len(brand)}")

Dictionary length: 7

In [51]:
#Print all keys of the dictionary.
print(f"all keys of the dictionary: {brand.keys()}")

all keys of the dictionary: dict_keys(['name', 'creator_name', 'type_of_clothes', 'international_competitors', 'number_stores', 'major_color', 'country_creation'])

In [52]:
#Create another dictionary called more_on_zara with creation_date and number_stores
more_on_zara={
    'creation_date':'1974',
    'number_stores': 1000
}

In [53]:
#Merge this dictionary with the original brand dictionary and print the result.
brand.update(more_on_zara)
print(f"Number of stores after update: {brand['number_stores']}")

Number of stores after update: 1000

*  **Exercise 4** : Some Geography

* Step 1: Define a Function with Parameters

- Define a function named describe_city().
- This function should accept two parameters: city and country.
- Give the country parameter a default value, such as “Unknown”.

In [56]:
def describe_city(city, country):
    #tep 2: Print a Message
    print(f"{city} is in {country}")

#Call the function
describe_city("Paris", "France")
describe_city("London", "England")

Paris is in France
London is in England

*  Exercise 5 : Random

In [ ]:
#Step 1: Import the random Module
import random
#At the beginning of your script, use import random to access the random number generation functions.

games = 0
wins = 0
losses = 0

input_number = 1
#Step 2: Define a Function with a Parameter
while input_number > 0 or input_number < 11:

    random_number = random.randint(0, 9)

    input_number = int(input("Give me a random number between 0 and 9\nType in '10' if you want to quit:\t"))

    if input_number == 10:
        print("Goodbye")
        break
    else:
        games += 1
        if input_number == random_number:
            print("Congratulations. You guessed right\n")
            wins += 1
        else:
            print("Sorry. You were wrong. Try again?\n")
            losses += 1

print(f"You played {games} games and had {wins} wins and {losses} losses!")



#Create a function that accepts a number between 1 and 10 as a parameter.


#Step 3: Generate a Random Number

#Inside the function, use random.randint(1, 10) to generate a random integer between 1 and 10.


#Step 4: Compare the Numbers

#If they are the same, print a success message. Otherwise, print a fail message and display both numbers.


#Step 5: Call the Function

#Call the function with a number between 1 and 100.

In [64]:
def upper_string(s):
    return s.upper()

fruit = ["Apple", "Banana", "Pear", "Apricot", "Orange"]
map_object = map(upper_string, fruit)

In [68]:
print(map_object)

<map object at 0x000002E4D3EA4F70>

In [70]:
from functools import reduce
my_list = [1, 3, 5, 7]
reduced_list = reduce(lambda first, second: first+second, my_list)
print(reduced_list)

16

In [71]:
class Dog():
    # Initializer / Instance Attributes
    def __init__(self, name_of_the_dog):
        print("A new dog has been initialized !")
        print("His name is", name_of_the_dog)

shelter_dog = Dog(name_of_the_dog="Rex")
# or
shelter_dog = Dog("Rex")

A new dog has been initialized !
His name is Rex
A new dog has been initialized !
His name is Rex
The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.